# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

Basic Y29uc3VtZXI6NHJjM241dG9uZVMzY3IzdA==

Basic Y29uc3VtZXI6NHJjM241dG9uZVMzY3IzdA==


Basic Y29uc3VtZXI6NHJjM241dG9uZVMzY3IzdA==

Basic Y29uc3VtZXI6NHJjM241dG9uZVMzY3IzdA==

Basic Y29uc3VtZXI6NHJjM241dG9uZVMzY3IzdA==

https://customer-delivery-promise.prod.arc.d-p.io/v1/outletimport

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
